@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');


body {
  background: rgba(252, 238, 191, 1);
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Londrina Solid',
  'Jacques Francois Shadow', sans-serif,;
}
/* Use a fonte Noto Sans */
