* {
  margin: 0px;
  padding: 0px;
}
  
  
header{
  position: relative;
  width: 100vw;
  display: flex;
  text-align: center;
  padding-bottom: 1em;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #DC4F22;

}  

.logo {
  height: 100%;
  padding: 1em;
}

.nav {
  display: flex;
  justify-content: space-between;
}