* {
    margin: 0px;
    padding: 0px;
  }
  


header {
    position: relative;
    width: 100vw;
    display: flex;
    text-align: center;
    padding-bottom: 1em;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #DC4F22;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  
  }
  
  .logo {
    height: 100%;
    padding: 1em;
  }
  
  .nav {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #0F0E0E;
    text-decoration: none;
    /* Remove a linha de link */
    color: inherit;
    /* Define a cor padrão do texto, herdando do elemento pai */
    bottom: -10%;
  }
  
  .nav .sair {
    position: relative;
    left: 145%;
  }
  
  .nav .solicitacoes {
    position: relative;
    left: 125%;
  
  }
  
  .nav .gerenciar {
    position: relative;
    left: 100%;
  }
  
  .nav .home {
    position: relative;
    left: 70%;
  }
  
  .nav:hover {
    color: #DC4F22;
  }
  
  /* Adicione a cor de realce no elemento ativo */
  .nav.active {
    color: #DC4F22;
  }
  
  .nav .sair:hover {
    color: #DC4F22;
  }
  
  .nav .solicitacoes:hover {
    color: #DC4F22;
  }
  
  .nav .home:hover {
    color: #DC4F22;
  }
  
  .nav .gerenciar:hover {
    color: #DC4F22;
  }
  
  .nomeuser {
    position: relative;
    left: 9%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
    color: #0F0E0E;
    font-variation-settings: 'slnt' -7;
    opacity: 0.8;
    bottom: -10%;
  }

  @media screen and (max-width: 600px) {
    header {
      flex-direction: column;
      height: auto;
    }
  
    .logo {
      padding: 0.5em;
    }
  
    .nav {
      position: static;
      display: flex;
      flex-direction: column;
      font-size: 18px;
      margin-top: 0.5em;
    }
  
    .nav > * {
      margin: 0.5em;
    }
  
    .nomeuser {
      position: static;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 18px;
    }
  }