.img-refri {
    /* Define a posição absoluta do elemento em relação à janela do navegador */
    position: absolute;
    /* Define a distância em pixels do elemento até a borda esquerda da janela do navegador */
    left: 8%;
    /* Define a distância em pixels do elemento até a borda inferior da janela do navegador */
    bottom: 1%;
    /* Define a largura máxima do elemento como 100% do elemento pai */
    max-width: 100%;
    /* Define a margem esquerda do elemento como 95px */
    margin-left: 5%;
    /* Define a imagem de fundo do elemento */
    background-image: url(refri.png);
    /* Define o tamanho da imagem de fundo do elemento como 95% da largura do elemento */
    background-size: 95%;
    /* Define que a imagem de fundo do elemento não deve ser repetida */
    background-repeat: no-repeat;
    /* Define a largura do elemento como 500px */
    width: 500px;
    /* Define a altura do elemento como 780px */
    height: 780px;
}
.login-form {
    position: absolute;
    left: 980px;
    bottom: 245px;
    width: 556px;
    height: 406px;
    background: rgba(237, 55, 68, 0.22);
    border-radius: 60px;
    box-sizing: border-box;
    padding: 70px;

}

h1 {
    position: relative;
    top: -20%;
    font-family: 'Inter';
    font-style: italic;
    font-size: 50px;
    text-align: center;
    color: #400F12;
    font-variation-settings: 'slnt' -10;


}

.user-form {
    position: relative;
    top: -20%;
    padding-bottom: 8.5px;

}

.senha-form {
    position: relative;
    top: -20%;
    padding-top: 8.5px;

}

.label-email,
.label-senha {
    position: relative;
    bottom: 20px;
    left: 2%;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 550;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    font-variation-settings: 'slnt' -10;


}

.btn-entrarLogin {
    position: relative;
    bottom: 51px;
    left: 30%;
    width: 169.36px;
    height: 62.96px;
    background: #FFFFFF;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    border: 2px solid #FFFFFF;
}

.user-form input[type=usuario] {
    position: relative;
    top: -20px;
    background: #FFFFFF;
    border-radius: 60px;
    width: 430.74px;
    height: 40.47px;
    padding-left: 20px;
    /* Adiciona padding à esquerda */
    box-sizing: border-box;
    /* Mantém a largura do elemento mesmo com padding */
    border: 2px solid #FFFFFF;
}



.senha-form input[type=senha] {
    position: relative;
    top: -20px;
    background: #FFFFFF;
    border-radius: 60px;
    width: 430.74px;
    padding-left: 20px;
    /* Adiciona padding à esquerda */
    box-sizing: border-box;
    /* Mantém a largura do elemento mesmo com padding */
    height: 40.47px;
    border: 2px solid #FFFFFF;
}



.btn-entrarLogin:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}

.title-pai {
    position: absolute; 
    top: 0%;
    z-index: 1;
    left :29%;
}
/*
O código abaixo define as propriedades de estilo de fonte para os elementos que correspondem.
    o filho span dentro de um elemento com classe "title1" ou "title2*/
.title1 span:nth-child(1),
.title1 span:nth-child(3),
.title2 span:nth-child(1),
.title2 span:nth-child(2),
.title2 span:nth-child(4),
.title2 span:nth-child(6),
.title2 span:nth-child(7),
.title2 span:nth-child(8) {
    font-family: 'Jacques Francois Shadow', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 110px;
    line-height: 165px;
    color: #EB3743;
    letter-spacing: 5px;
  
}

.title1 span:nth-child(2),
.title1 span:nth-child(4),
.title2 span:nth-child(3),
.title2 span:nth-child(5) {
    font-family: 'Londrina Solid', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 116px;
    line-height: 100px;
    width: 120px;
    height: 145px;
    color: rgba(235, 55, 67, 0.93);
    letter-spacing: 20px;

}
.title1, .title2 {
    margin-bottom: -40px; /* altere o valor para o espaço desejado */
  }

  .title2 {
    position: RELATIVE; 
    left: 21%;
  }

