 .login-form-wrap {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     width: 100%;
     margin: 10px;


 }

 .login-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     height: 100%;
     margin-top: -10%;
 }

 .img-refri {

     width: 547px;
 }

 .img-refri img {
     width: 100%;
     height: auto;
 }

 .form-area {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 248px;
     width: 100%;
     height: 547px;
     margin: 0 auto;
     /* Centralize horizontalmente */

 }

 @media (max-width: 1100px) {
     .form-area {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         gap: 28px;
     }
 }



 .title-pai {
     padding: 20px;
     box-sizing: border-box;

 }


 /*
O código abaixo define as propriedades de estilo de fonte para os elementos que correspondem.
    o filho span dentro de um elemento com classe "title1" ou "title2*/
 .title1 span:nth-child(1),
 .title1 span:nth-child(3),
 .title2 span:nth-child(1),
 .title2 span:nth-child(2),
 .title2 span:nth-child(4),
 .title2 span:nth-child(6),
 .title2 span:nth-child(7),
 .title2 span:nth-child(8) {
     font-family: 'Jacques Francois Shadow', cursive;
     font-style: normal;
     font-weight: 400;
     font-size: 110px;
     line-height: 10px;
     color: #EB3743;
     letter-spacing: 5px;

 }

 .title1 span:nth-child(2),
 .title1 span:nth-child(4),
 .title2 span:nth-child(3),
 .title2 span:nth-child(5) {
     font-family: 'Londrina Solid', cursive;
     font-style: normal;
     font-weight: 400;
     font-size: 120px;
     width: 120px;
     height: 145px;
     color: rgba(235, 55, 67, 0.93);
     letter-spacing: 20px;

 }

 .title2 {
     transition: all 0.3s ease;
     position: relative;
     margin-left: 20%;
     margin-top: -5%;

 }



 .login-form {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: rgba(237, 55, 68, 0.22);
     padding: 22px 50px 42px;
     box-sizing: border-box;
     border-radius: 60px;
     width: 556px;
     height: 406px;

 }



 .login-form h1 {

     font-family: 'Inter';
     font-style: italic;
     font-weight: 676;
     font-size: 50px;
     line-height: 61px;
     text-align: center;
     color: #400F12;
     font-variation-settings: 'slnt' -10;
     
 }

 .area-inputs {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 17px;
     width: 100%;
     height: 70%;
 }

 .user-form input[type=usuario], .senha-form input[type=password]  {

    background: #FFFFFF;
    /* Adiciona padding à esquerda */
    box-sizing: border-box;
    /* Mantém a largura do elemento mesmo com padding */
    border: 2px solid #FFFFFF;
    width: 430.74px;
    height: 40.47px;
    border-radius: 60px;
 }