.title-cadastro-voltar {
text-decoration: none;
padding: 1em;
box-sizing: border-box;
font-size: 30px;
}

.confirmar-button{
    position: relative;
    width: 250px;
}

.label-categoria{
    padding: 0.5em;
}